@page
@model WeatherViewer.Pages.Data.SummaryModel
@{
    var data = @Model.WeatherData;
}

@if(!string.IsNullOrEmpty(@Model.Message))
{
    <h4 style="color:red">@Model.Message</h4>
}

<h4>Weather Summary From @DateTime.Now.AddDays(-2).ToString("MM/dd/yyyy") to @DateTime.Now.ToString("MM/dd/yyyy")</h4>
<div>
    <ejs-chart id="summaryChart" onload="window.onChartLoad">
        <e-chart-tooltipsettings enable="true"></e-chart-tooltipsettings>
        <e-chart-primaryxaxis valueType="DateTime"
                              labelFormat="ddMMM HH:00:00"
                              intervalType="Hours"
                              edgeLabelPlacement="Shift"
                              title="Hour Date/Hour">
        </e-chart-primaryxaxis>
        <e-chart-primaryyaxis valueType="Double"
                              intervalType="Auto"
                              edgeLabelPlacement="Shift"
                              labelFormat="{value}°C">
               </e-chart-primaryyaxis>
        <e-series-collection>
            @foreach(var seriesData in Model.summaryChartData)
            {
              <e-series dataSource="@seriesData.TempChartValues" name="@seriesData.SeriesName" xName="xTime" yName="yValue" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                  <e-series-marker visible="true" height="3" width="3"></e-series-marker>
              </e-series>   
            }
        </e-series-collection>
    </ejs-chart>
    <p><i>NOTE: Lines that go straight up or down indicate more than one temperature report during that hour</i></p>
</div>
<div>
    <ejs-treegrid id="TreeGrid" childMapping="SummaryReports" dataSource="@Model.WeatherData" treeColumnIndex="0" enableCollapseAll="true">
        <e-treegrid-columns>
            <e-treegrid-column field="StationId" headerText="Weather Station Id" template="#stationLink"></e-treegrid-column>
            <e-treegrid-column field="ObservationTime" headerText = "Report Time"></e-treegrid-column>
            <e-treegrid-column field="TempC" headerText="Temperature (Celsius)"></e-treegrid-column>
            <e-treegrid-column field="PrecipIn" headerText="Rain/Snowfall (Inches)"></e-treegrid-column>
            <e-treegrid-column field="AltimeterInHg" headerText="Air Pressure"></e-treegrid-column>
        </e-treegrid-columns>
    </ejs-treegrid>
</div>

<!-- Scripts and Row Templates-->
<script id="stationLink" type="text/x-template">
    <a target="_blank" href="/StationData/${StationId}">${StationId}</a>
</script>

