@page
@model WeatherViewer.Pages.Data.SummaryModel
@{
    var data = @Model.WeatherData;
}

@if(!string.IsNullOrEmpty(@Model.Message))
{
    <h4 style="color:red">@Model.Message</h4>
}

<h4>Weather Summary From @DateTime.Now.AddDays(-2).ToString("MM/dd/yyyy") to @DateTime.Now.ToString("MM/dd/yyyy")</h4>
<div>
    <ejs-chart id="summaryChart" onload="window.onChartLoad">
        <e-chart-primaryxaxis valueType="DateTime"
                              labelFormat="y"
                              intervalType="Hours",
                              edgeLabelPlacement="Shift">
        </e-chart-primaryxaxis>
        <e-series-collection>
            @foreach(var seriesData in Model.summaryChartData)
            {
              <e-series name="@seriesData.SeriesName" dataSource="@seriesData.TempChartValues" xName="xTime" yName="yValue" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line"></e-series>  
            }
        </e-series-collection>
    </ejs-chart>
</div>
<div>
    <ejs-treegrid id="TreeGrid" childMapping="SummaryReports" dataSource="@Model.WeatherData" treeColumnIndex="0">
        <e-treegrid-columns>
            <e-treegrid-column field="StationId" headerText="Weather Station Id"></e-treegrid-column>
            <e-treegrid-column field="ObservationTime" headerText = "Report Time"></e-treegrid-column>
            <e-treegrid-column field="TempC" headerText="Temperature (Celsius)"></e-treegrid-column>
            <e-treegrid-column field="PrecipIn" headerText="Rain/Snowfall (Inches)"></e-treegrid-column>
            <e-treegrid-column field="AltimeterInHg" headerText="Air Pressure"></e-treegrid-column>
        </e-treegrid-columns>
    </ejs-treegrid>
</div>

